In [1]:
def reverse_string(input_string):
    reversed_string = input_string[::-1]
    return reversed_string
input_string = input("Enter a string: ")
reversed_str = reverse_string(input_string)
print("Reversed string:", reversed_str)

Enter a string:  1,2,3,5,4,6

Reversed string: 6,4,5,3,2,1

In [6]:
def is_palindrome(s):
    s=s.lower()
    return s == s[::-1]
print(is_palindrome("malayalam"))
print(is_palindrome('card'))

True
False

In [7]:
input_string = input("Enter a string: ")
uppercase_string = input_string.upper()
print("Uppercase string:", uppercase_string)

Enter a string:  aftab

Uppercase string: AFTAB

In [8]:
input_string = input("Enter a string: ")
lowercase_string = input_string.lower()
print("lowercase string:", lowercase_string)

Enter a string:  AFTAB

lowercase string: aftab

In [9]:
def count_vowels(string):
    vowel_count = 0
    string = string.lower()
    vowels = set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count
input_string = "Hello, how are you?"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 7

In [10]:
def count_consonants(string):
    consonant_count = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in consonants:
            consonant_count += 1
    return consonant_count
input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  ashidkeoedju9c cjdchbedcwnnc dnc dciuwhcujnj

Number of consonants: 30

In [12]:
def remove_whitespace(input_string):
    result = ""
    for char in input_string:
        if char != " ":
            result += char
    return result
input_string = "ur in the pack of wolves?"
output_string = remove_whitespace(input_string)
print(output_string)

urinthepackofwolves?

In [13]:
count = 0
for char in input_string: 
    count += 1
print("The length of the string is:", count)

The length of the string is: 25

In [14]:
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")
if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string:  aftabsj
Enter the specific word to check for:  s

The string contains the word 's'.

In [17]:
s= input("enter string")
c= input("enter specific word")
e=s.find(c)
print(e)

enter string aftab
enter specific word a

0

In [19]:
s=input("Enter a sentence: ")
o= input("Enter the word to be replaced: ")
n= input("Enter the new word: ")
modified_string= s.replace(o,n)
print("Modified string:", modified_string)

Enter a sentence:  aftab
Enter the word to be replaced:  a
Enter the new word:  f

Modified string: fftfb

In [20]:
def count_word_occurrences(input_string, target_word):
    # Step 1: Initialize a variable to keep track of the word count
    word_count = 0

    # Step 2: Split the input string into a list of words
    words = input_string.split()

    # Step 3: Iterate through each word in the list
    for word in words:
        # Step 4: Check if the current word matches the target word
        if word == target_word:
            # Step 5: Increment the word count if the words match
            word_count += 1

    # Step 6: Return the final word count
    return word_count

# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."

# Target word to count
target_word = "sample"

# Call the function and print the result
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

In [21]:
def find_first_occurrence(text, word):
        index = text.find(word)
        if index == -1:
            return None  
        return index
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

In [22]:
def find_last_occurrence(text, word):
        index = text.rfind(word)
        if index == -1:
            return None  
        return index
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 61

In [24]:
def split_string_into_words(text):
    words_list = text.split()
    return words_list
text = "my name is aftab."
words = split_string_into_words(text)
print("List of words:", words)

List of words: ['my', 'name', 'is', 'aftab.']

In [26]:
def join_words_into_string(words_list):
    joined_string = ' '.join(words_list)
    return joined_string
text = ["my", "name", "is", "aftab"]
text = join_words_into_string(words)
print("Joined string:", text)

Joined string: my name is aftab.

In [27]:
def convert_to_underscore_separated(text):
    underscore_separated = text.replace(" ", "_")
    return underscore_separated
text = "This is an example sentence."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: This_is_an_example_sentence.

In [29]:
def starts_with(text, prefix):
    is_start = text.startswith(prefix)
    return is_start
text = "my mother is best!"
prefix = "mother"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text does not start with the prefix.

In [34]:
def ends_with(text, suffix):
    is_end = text.endswith(suffix)
    return is_end
text = "my mother is best!"
suffix = "best!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

In [35]:
def convert_to_title_case(text):
    title_case_text = text.title()
    return title_case_text
text = "pwskills lab"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Pwskills Lab

In [37]:
def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word
text = "I have studied hard"
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: studied

In [6]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "I have studied hard"
shortest_word = find_shortest_word(text)
print("shortest word:", shortest_word)

shortest word: I

In [8]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf') 
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "I have studied hard"
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: I

In [9]:
def is_alphanumeric(text):
    return text.isalnum()
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [11]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits
text = "Aftab@123"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123

In [13]:
def extract_alphabets(text):
    alphabets = ''.join([char for char in text if char.isalpha()])
    return alphabets
text = "Aftab@123"
result = extract_alphabets(text)
print("Extracted alphabets:", result)

Extracted alphabets: Aftab

In [15]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "Helloguys"
result = count_uppercase(input_string)
print(result)

1

In [17]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
input_string = "Hello guys"
result = count_lowercase(input_string)
print(result)

8

In [19]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "Aftab"
result = swap_case(input_string)
print(result)

aFTAB

In [20]:
def remove_word(input_string, word_to_remove):
    words = input_string.split() 
    filtered_words = [word for word in words if word != word_to_remove]  
    modified_string = ' '.join(filtered_words)  
    return modified_string
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

In [26]:
#need to understand
import re  
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [24]:
#need to understand
def extract_username(email):
    username = email.split('@')[0]  
    return username
email = "example@email.com"
result = extract_username(email)
print(result)

example

In [25]:
#need to understand
def extract_domain(email):
    domain = email.split('@')[1] 
    return domain
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

In [27]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split()) 
    return cleaned_string
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

In [29]:
#remember to understand
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

In [30]:
def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [31]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency
input_str = "hello world"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [32]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)

    return clean_string
input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [33]:
def contains_only_digits(input_string):
    return input_string.isdigit()
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [34]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [35]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list
input_str = "Hello, world!"
char_list = string_to_list(input_str)
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [36]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [37]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
#need to inderstand once again doubt caesar cipher
def caesar_cipher(text, shift):
  encoded_text = ""
  for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char
    encoded_text += encoded_char
  return encoded_text
text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [38]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text
text = "lopp, zruog!"
shift = 3
decoded_text = caesar_cipher_decoder(text, shift)
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [43]:
from collections import defaultdict
test_list = ["it is one of the best way of the of world"]
print("The original list is : " + str(test_list))
 
temp = defaultdict(int)
for sub in test_list:
    for wrd in sub.split():
        temp[wrd] += 1
res = max(temp, key=temp.get)
print("Word with maximum frequency : " + str(res))

The original list is : ['it is one of the best way of the of world']
Word with maximum frequency : of

In [44]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())

    return words
input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'world', 'hello', 'the', 'there', 'hows'}

In [45]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [46]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    match = pattern.search(input_string)
    return bool(match)

string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [48]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [53]:
inputString = "aftab.s0464"

inputString = inputString + '@' 
print("Adding '@' at the end of an input string:\n", inputString)

Adding '@' at the end of an input string:
 aftab.s0464@

In [49]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)

    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [ ]:
#lists

In [1]:
list=[i for i in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count
my_list = [10, 20, 30, 40, 50]
length = custom_len(my_list)
print("Length of the list:", length)

Length of the list: 5

In [5]:
list.append(60)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 60]

In [6]:
list.insert(2,15)
print(list)

[1, 2, 15, 3, 4, 5, 6, 7, 8, 9, 10, 60]

In [7]:
list.remove(15)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 60]

In [9]:
list.pop(2)
print(list)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 60]

In [11]:
d=10
if d in list:
    print(f"{d} exist in the list")
else:
    print(f"{d} does not exist in the list")

10 exist in the list

In [13]:
s=6
index = list.index(s)
print(f"the index of{s} is {index}")

the index of6 is 4

In [15]:
count=list.count(2)
print(f"the element {2} occurs {count} times in the list")

the element 2 occurs 1 times in the list

In [16]:
list.reverse()
print(list)

[60, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [17]:
list

[60, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [18]:
list.sort()
print(list)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 60]

In [20]:
list.sort(reverse=True)
print(list)

[60, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [21]:
even_numbers = [x for x in range(2,21,2)]
print("list of even numbers:", even_numbers)

list of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
odd_numbers = [x for x in range(1,21,2)]
print("list of off numbers:", odd_numbers)

list of off numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
total_sum = sum(list)
print(total_sum)
print(list)

112
[60, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [24]:
max_value = max(list)
print(max_value)

60

In [25]:
min_value = min(list)
print(min_value)

1

In [26]:
squares = [x ** 2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
import random
random_integers = [random.randint(1,100) for _ in range(10)]
print("list of random integer:", random_integers)

list of random integer: [56, 57, 54, 40, 73, 85, 86, 52, 35, 64]

In [37]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = set(my_list)
print("List without duplicates:", unique_list)

List without duplicates: {40, 10, 50, 20, 30}

In [41]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements") 

        
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)
  
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

In [43]:
l1=[10,20,30,40,50]
l2=[30,40,50,60,70]
difference = set(l1).difference(l2)
print("difference between lists:", difference)

difference between lists: {20, 10}

In [45]:
l1=[10,20,30]
l2=[40,50,60]
merged_list = l1+l2
print("merged list:",merged_list)

merged list: [10, 20, 30, 40, 50, 60]

In [46]:
l=[10,20,30,40,50]
multiplied_list = [x * 2 for x in l]
print("multiplied list:", multiplied_list)

multiplied list: [20, 40, 60, 80, 100]

In [47]:
string_list = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in string_list]
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [48]:
integer_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in integer_list]
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [1]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
def generate_fibonacci(n):
    fibonacci_list =[0,1]
    for i in range(2,n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i -2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers = generate_fibonacci(2)
print("firts 10 fibonacci numbers:", fibonacci_numbers)

firts 10 fibonacci numbers: [0, 1]

In [5]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst [i-1]:
            return False
        return True

l1=[10,20,30,40]
if is_sorted_ascending(l1):
    print("the list is sorted")
else:
    print("the list is not sorted")

the list is sorted

In [6]:
def rotate_left(lst, n):
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [7]:
def rotate_right(lst, n):
    n = n % len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [8]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [9]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes
prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [10]:
my_list = [10,5,20,15,30,25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >=2:
    second_largest = sorted_list[-2]
    print("second largest number:", second_largest)
else:
    print("the list does not contain enough elements:")

second largest number: 25

In [13]:
my_list = [2,4,6,8,10]
square_list = [x ** 2 for x in my_list]
print("squared list", square_list)

squared list [4, 16, 36, 64, 100]

In [14]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [15]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [7, 3, 2, 1, 5, 4, 6, 10, 9, 8]

In [16]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [17]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [20]:
my_list=[1,2,3,4,5]
my_list.clear()
print(my_list)

[]

In [21]:
my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [22]:
my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [23]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [24]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [25]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: elderberry

In [26]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

In [27]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [28]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [29]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [ ]:
#tuple basede problems

In [30]:
my_tuple=(10,20,30,40,50)
third_element = my_tuple[2]
print("the third element of tuple is:", third_element)

the third element of tuple is: 30

In [31]:
my_tuple=(10,20,30,40,50)
third_element = my_tuple[2]
print("the third element of tuple is:", third_element)

the third element of tuple is: 30

In [32]:
count = 0
for _ in my_tuple:
    count +=1
print("ther length of the tuple is:", count)

ther length of the tuple is: 5

In [33]:
element_to_count = 20
count = 0
for item in my_tuple:
    if item == element_to_count:
        count +=1
print(f"the element {element_to_count} appears {count} times in the tuple")

the element 20 appears 1 times in the tuple

In [34]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = -1
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break 
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [35]:
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [36]:
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 20, 40, 50)
List: [10, 20, 30, 20, 40, 50]

In [37]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [38]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [39]:
even_numbers_list = [num for num in range(2, 11, 2)]
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [40]:
odd_numbers_list = [num for num in range(1, 11, 2)] 
odd_numbers_tuple = tuple(odd_numbers_list)
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [41]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [42]:
tuple_original = tuple1 *3
print(tuple_original)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [43]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [44]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [45]:
first_element = nested_tuple[0]
print(first_element)

(1, 2, 3)

In [48]:
single_element_tuple = (42,)
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [49]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [52]:
my_tuple = (1,2,3,4,5)
del my_tuple
print()

In [53]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:6]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [54]:
my_tuple = (10, 20, 5, 45, 30)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 45

In [55]:
my_tuple = (10, 20, 5, 45, 30)
min_value = min(my_tuple)
print("Minimum value:", min_value)

Minimum value: 5

In [56]:
my_string = "Hello, World!"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [1]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [2]:
mixed_tuple = (1,"hello",3.145,True)
print(mixed_tuple)

(1, 'hello', 3.145, True)

In [3]:
type(mixed_tuple)

tuple

In [4]:
t1=(1,2,3)
t2=(1,2,3)
t3=(4,5,6)
i1 = t1==t2
i2 = t1==t3
print("tuple 1 and tuple 2 are identical",i1)
print("tuple 1 and tuple 3 are identical", i2)

tuple 1 and tuple 2 are identical True
tuple 1 and tuple 3 are identical False

In [5]:
my_tuple=(5,2,8,1,3)
sorted_tuple = tuple(sorted(my_tuple))
print("sorted tuple:", sorted_tuple)

sorted tuple: (1, 2, 3, 5, 8)

In [6]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [7]:
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [8]:
t1=(1,2,3)
t2=(4,5,6)
merged_tuple = t1+t2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [9]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [11]:
def is_palindrome(tup):
    return tup == tup[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [12]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [13]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [14]:
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [16]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [17]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [18]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [19]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)   
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [20]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  s,d,e,a,i,o,u

User input tuple: ('s', 'd', 'e', 'a', 'i', 'o', 'u')

In [21]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [22]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [23]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [24]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

In [25]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [26]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [27]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [28]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [30]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [31]:
print("Original set:", my_set)
element_to_add = 6
my_set.add(element_to_add)
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [32]:
print("Original Set:", my_set)
element_to_remove = 3
my_set.remove(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5, 6}
Set after removing 3 : {1, 2, 4, 5, 6}

In [34]:
element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  5

5 exists in the set.

In [36]:
count = 0
for _ in my_set:
    count += 1
    print("Length of the set:", count)

Length of the set: 1
Length of the set: 2
Length of the set: 3
Length of the set: 4
Length of the set: 5

In [37]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [38]:
even_numbers_set = set()
for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [39]:
odd_numbers_set = set()
for num in range(1, 11):
   
    if num % 2 != 0:
        odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1.union(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_result = set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [42]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [43]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [44]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [45]:
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [46]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
my_list = list(my_set)
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [47]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

In [48]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [49]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [50]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [51]:
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [52]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [54]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [55]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [56]:
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [57]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [58]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [59]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {97, 99, 8, 21, 55}

In [60]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [61]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [62]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [63]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [64]:
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'h', 'l', 'e', 'o'}

In [65]:
string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '789', '123'}
Converted Integer Set: {456, 123, 789}

In [66]:
integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '5', '3', '1', '2'}

In [67]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [68]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [69]:
my_set = {15, 7, 22, 13, 8}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 22

In [70]:
number_set = {15, 8, 23, 4, 42, 11}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [71]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  
    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  done

Final set: set()

In [72]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [73]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [74]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [75]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [76]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [77]:

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [78]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [79]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  
    return alternating_set

# Define the desthe alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)